@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --main-color: rgb(82, 122, 255);
  --main-color-hover: rgb(70, 102, 206);
  --second-color: rgb(54, 233, 150);
  --second-color-hover: rgb(51, 201, 131);
  --firsttext-color: rgb(59, 59, 59);
  --secondtext-color: #fff;
}

html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 9px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--firsttext-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

header {
  top: 0;
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;
}
.social__media {
  left: 5%;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.iconSocial {
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 1.3rem !important;
  color: var(--firsttext-color) !important;
  background: #fff;
  border-radius: 50%;
  margin: 1rem;
  padding: 1rem;
  transition: all 500ms;
  box-shadow: 0 0 3px 1px rgba(59, 59, 59, 0.178);
}
.iconSocial:hover {
  transform: scale(1.4);
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://previews.123rf.com/images/visivasnc/visivasnc1702/visivasnc170200065/72756385-doctor-leyendo-un-libro-m%C3%A9dico-en-el-escritorio-de-la-oficina-concepto-de-salud-m%C3%A9dico-y-farmacia-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff !important;
  position: relative;
  overflow: hidden;
  background-clip: blue;
}

.hero__container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  flex: 1;
}

.hero__container .hero__image {
  text-align: center;
  width: 100%;
  flex: 1;
}

.hero__image img {
  width: 70%;
}

.hero__container h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: calc(4px + 3vw);
  line-height: 60px;
  margin-bottom: 2rem;
  border: none;
}
.button__general {
  background: var(--second-color);
  color: #fff !important;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  transition: all 500ms;
}

.button__general:hover {
  background: var(--second-color-hover);
}

.button__buy {
  background: var(--main-color);
  color: #fff !important;
  display: block;
  margin: 1rem 0;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 0.7rem 0;
  border-radius: 2rem;
  transition: all 500ms;
}
.button__buy:hover {
  background: var(--main-color-hover);
}

.button__dowload {
  background: var(--second-color);
  color: #fff !important;
  display: block;
  margin: 1rem 0;
  width: 40%;
  text-align: center;
  padding: 0.7rem 0;
  border-radius: 2rem;
  transition: all 500ms;
  animation: buttonAtention infinite linear alternate 1s;
}
.button__dowload:hover {
  background: var(--second-color-hover);
}

/* section book */
.about__book {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--firsttext-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.about__bookContainer {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__bookText {
  padding: 1rem;
  flex: 0.6;
}
.list__icon {
  font-size: 20px;
  color: var(--second-color);
}
.about__bookText h1 {
  font-size: calc(1.1rem + 3vw);
}
.about__bookText p {
  text-align: justify;
  padding: 1.5rem 0;
}
.about__bookInfo {
  padding: 1rem;
  flex: 0.4;
  text-align: center;
  font-size: 1.5rem;
}
.about__bookInfo img {
  width: 30%;
}

.book__detail {
  width: 100%;
  overflow: hidden;
}

.book__detail h1 {
  font-size: calc(1.4rem + 3vw);
  text-align: center;
  margin-bottom: 2rem;
}

.book__detailContainer {
  width: 80%;
  margin: 0 auto 8rem;
}
.inf__book {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inf__book img {
  width: 40%;
}
.autors {
  background: var(--firsttext-color);
  color: var(--secondtext-color);
  padding: 2rem;
}
.container__autors {
  text-align: center;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.container__autors ul {
  margin-bottom: 20px;
}
.container__autors ul li {
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  .hero__container {
    flex-direction: column;
    text-align: center;
  }
  .hero__container h1 {
    line-height: 10px;
  }
  .hero__container img {
    width: 50%;
    margin-top: 4rem;
  }
  .hero__container a {
    margin: 1rem auto;
    width: 60%;
  }

  .button__dowload,
  .button__buy {
    display: block;
    margin: 1rem auto;
    width: 60%;
  }

  .about__book {
    height: 150vh;
  }
  .about__bookContainer {
    flex-direction: column;
  }
  .about__bookText {
    padding: 0 !important;
  }
  .about__bookInfo img {
    width: 15%;
  }
  .book__detailContainer {
    flex-direction: column;
  }

  .inf__book {
    flex-direction: column;
  }
  .inf__book img {
    margin-top: 2rem;
    width: 86%;
  }

  .container__autors {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .about__book {
    height: 157vh;
  }
  .hero__container img {
    width: 70%;
    margin-top: 4rem;
  }
}

@keyframes buttonAtention {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
